[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[requires]
python_version = "3.11"  # Keep in-sync with FROM line in the Dockerfile

[packages]
ldap3 = "*"
requests = "*"

[dev-packages]
pylint = "*"
